### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [489]:
# Dependencies and Setup
import pandas as pd

# File to Load
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)

## Player Count

* Display the total number of players

In [490]:
#Display the total number of players
players_df = purchase_data_df.drop_duplicates(subset=['SN'], keep='first')
allplayers = len(players_df)
player_count_df = pd.DataFrame ({
    "Total Players" : [allplayers]
})
player_count_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [491]:
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = purchase_data_df["Item ID"].unique()
average_price = purchase_data_df["Price"].sum() / purchase_data_df["Price"].count()
number_of_purchases = purchase_data_df["Price"].count()
total_revenue = purchase_data_df["Price"].sum()

#Create a summary data frame to hold the results
purchasing_analysis_df = pd.DataFrame ({ 
    "Number of Unique Items" : [len(unique_items)],
    "Average Price" : [formatted_price],
    "Number of Purchases" : [number_of_purchases],
    "Total Revenue" : [formatted_revenue]
})

#Optional: give the displayed data cleaner formatting
formatted_price = "${:,.2f}".format(average_price)
formatted_revenue = "${:,.2f}".format(total_revenue)

#Display the summary data frame
purchasing_analysis_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [492]:
# Percentage and Count of Male Players
males = (players_df.Gender == 'Male').sum()
malespercentage = males / allplayers
formatted_malespercentage = '{:.2%}'.format(malespercentage)

# Percentage and Count of Female Players
females = (players_df.Gender == 'Female').sum()
femalespercentage = females / allplayers
formatted_femalespercentage = '{:.2%}'.format(femalespercentage)

#Percentage and Count of Other / Non-Disclosed
other = (players_df.Gender == 'Other / Non-Disclosed').sum()
otherpercentage = other / allplayers
formatted_otherpercentage = '{:.2%}'.format(otherpercentage)

#Create a summary data frame to hold the results
demographics = [(males, formatted_malespercentage),
                (females, formatted_femalespercentage),
                (other, formatted_otherpercentage)]
gender_df = pd.DataFrame(demographics, 
                         columns = ['Total Count' , 'Percentage of Players'], 
                         index=['Male', 'Female', 'Other / Non-Disclosed'])
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [493]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
male_purchases_df = purchase_data_df.loc[~((purchase_data_df['Gender'] == 'Female') | (purchase_data_df['Gender'] == 'Other / Non-Disclosed'))]
male_purchase_count = male_purchases_df["Gender"].count()
male_average_price = male_purchases_df["Price"].sum() / male_purchase_count
male_total_value = male_purchases_df["Price"].sum()
male_total_per_person = male_purchases_df["Price"].sum() / males

female_purchases_df = purchase_data_df.loc[~((purchase_data_df['Gender'] == 'Male') | (purchase_data_df['Gender'] == 'Other / Non-Disclosed'))]
female_purchase_count = female_purchases_df["Gender"].count()
female_average_price = female_purchases_df["Price"].sum() / female_purchase_count
female_total_value = female_purchases_df["Price"].sum()
female_total_per_person = female_purchases_df["Price"].sum() / females

other_purchases_df = purchase_data_df.loc[~((purchase_data_df['Gender'] == 'Female') | (purchase_data_df['Gender'] == 'Male'))]
other_purchase_count = other_purchases_df["Gender"].count()
other_average_price = other_purchases_df["Price"].sum() / other_purchase_count
other_total_value = other_purchases_df["Price"].sum()
other_total_per_person = other_purchases_df["Price"].sum() / other

# Create a summary data frame to hold the results
purchasing_demographics = [(female_purchase_count, formatted_female_average_price, formatted_female_total_value, formatted_female_total_per_person),
                           (male_purchase_count, formatted_male_average_price, formatted_male_total_value, formatted_male_total_per_person),
                           (other_purchase_count, formatted_other_average_price, formatted_other_total_value, formatted_other_total_per_person)]
gender_purchasing_df = pd.DataFrame(purchasing_demographics, 
                         columns = ['Purchase Count' , 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person'], 
                         index=['Female', 'Male', 'Other / Non-Disclosed'])
gender_purchasing_df.index.name = 'Gender'

# Optional: give the displayed data cleaner formatting
formatted_male_average_price = "${:,.2f}".format(male_average_price)
formatted_male_total_value = "${:,.2f}".format(male_total_value)
formatted_male_total_per_person = "${:,.2f}".format(male_total_per_person)

formatted_female_average_price = "${:,.2f}".format(female_average_price)
formatted_female_total_value = "${:,.2f}".format(female_total_value)
formatted_female_total_per_person = "${:,.2f}".format(female_total_per_person)

formatted_other_average_price = "${:,.2f}".format(other_average_price)
formatted_other_total_value = "${:,.2f}".format(other_total_value)
formatted_other_total_per_person = "${:,.2f}".format(other_total_per_person)


# Display the summary data frame
gender_purchasing_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [494]:
# Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, (ages_df["Age"].max())]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Categorize the existing players using the age bins
pd.cut(purchase_data_df["Age"], bins, labels).head()
purchase_data_df["AgeGroup"] = pd.cut(purchase_data_df["Age"], bins, labels=labels)
ages_df = purchase_data_df.drop_duplicates(subset=['SN'], keep='first')

# Calculate the numbers and percentages by age group
countone = (ages_df.AgeGroup == '<10').sum()
countonepercent = countone / len(ages_df)
counttwo = (ages_df.AgeGroup == '10-14').sum()
counttwopercent = counttwo / len(ages_df)
countthree = (ages_df.AgeGroup == '15-19').sum()
countthreepercent = countthree / len(ages_df)
countfour = (ages_df.AgeGroup == '20-24').sum()
countfourpercent = countfour / len(ages_df)
countfive = (ages_df.AgeGroup == '25-29').sum()
countfivepercent = countfive / len(ages_df)
countsix = (ages_df.AgeGroup == '30-34').sum()
countsixpercent = countsix / len(ages_df)
countseven = (ages_df.AgeGroup == '35-39').sum()
countsevenpercent = countseven / len(ages_df)
counteight = (ages_df.AgeGroup == '40+').sum()
counteightpercent = counteight / len(ages_df)

# Optional: round the percentage column to two decimal points
formattedcountonepercent = '{:.2%}'.format(countonepercent)
formattedcounttwopercent = '{:.2%}'.format(counttwopercent)
formattedcountthreepercent = '{:.2%}'.format(countthreepercent)
formattedcountfourpercent = '{:.2%}'.format(countfourpercent)
formattedcountfivepercent = '{:.2%}'.format(countfivepercent)
formattedcountsixpercent = '{:.2%}'.format(countsixpercent)
formattedcountsevenpercent = '{:.2%}'.format(countsevenpercent)
formattedcounteightpercent = '{:.2%}'.format(counteightpercent)

# Create a summary data frame to hold the results
age_demographics = [(countone, formattedcountonepercent),
                    (counttwo, formattedcounttwopercent),
                    (countthree, formattedcountthreepercent),
                    (countfour, formattedcountfourpercent),
                    (countfive, formattedcountfivepercent),
                    (countsix, formattedcountsixpercent),
                    (countseven, formattedcountsevenpercent),
                    (counteight, formattedcounteightpercent)]
age_demographics_df = pd.DataFrame(age_demographics, 
                         columns = ['Total Count', 'Percentage of Players'], 
                         index=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])

# Display Age Demographics Table
age_demographics_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

Purchasing Analysis (Age)Â¶

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [495]:
# Bin the purchase_data data frame by age
bins = [0, 9, 14, 19, 24, 29, 34, 39, (ages_df["Age"].max())]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
pd.cut(purchase_data_df["Age"], bins, labels).head()
purchase_data_df["AgeGroup"] = pd.cut(purchase_data_df["Age"], bins, labels=labels)
purchase_group = purchase_data_df.groupby("AgeGroup")
purchase_group[["Purchase ID"]].count()

          Purchase ID
AgeGroup
<10                23
10-14              28
15-19             136
20-24             365
25-29             101
30-34              73
35-39              41
40+                13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [496]:
# Run basic calculations to obtain the results in the table below
purchasecount = purchase_data_df.groupby("SN").count()["Price"]
avgprice = purchase_data_df.groupby("SN").mean()["Price"]
totalvalue = purchase_data_df.groupby("SN").sum()["Price"]

# Create a summary data frame to hold the results
analysis_df = pd.DataFrame({"Purchase Count": purchasecount,
                            "Average Purchase Price": avgcount,
                            "Total Purchase Value": totalvalue})

# Sort the total purchase value column in descending order
analysis_df.sort_values(by=['Total Purchase Value'], inplace=True, ascending= False)


# Display a preview of the summary data frame
(analysis_df
    .head()
    .style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"}))

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [497]:
# Retrieve the Item ID, Item Name, and Item Price columns
most_popular_df = purchase_data_df[["Item ID", "Item Name", "Price"]]
most_popular_df.head()

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
mppurchasecount = purchase_data_df.groupby(["Item ID", "Item Name"]).count()["Price"]
mptotalvalue = purchase_data_df.groupby(["Item ID", "Item Name"]).sum()["Price"]

# Create a summary data frame to hold the results
mpanalysis_df = pd.DataFrame({"Purchase Count": mppurchasecount,
                            "Item Price": mptotalvalue / mppurchasecount,
                             "Total Purchase Value": mptotalvalue})

# Sort the total purchase value column in descending order
mpanalysis_df.sort_values(by=['Purchase Count'], inplace=True, ascending= False)

# Display a preview of the summary data frame
# Optional: give the displayed data cleaner formatting
(mpanalysis_df
    .head()
    .style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"}))

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [486]:
# Sort the above table by total purchase value in descending order
mpanalysis_df.sort_values(by=['Total Purchase Value'], inplace=True, ascending= False)

# Display a preview of the data frame
# Optional: give the displayed data cleaner formatting
(mpanalysis_df
    .head()
    .style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"}))